[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
autopep8 = "*"
pylint-django = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.7"
